process { withName: 'BUSCO_BUSCO' { container = 'modules/nf-core/busco/busco/.conda-lock/linux_amd64-bd-6d1f7006d91892b3_1.txt' } }
process { withName: 'BUSCO_DOWNLOAD' { container = 'modules/nf-core/busco/download/.conda-lock/linux_amd64-bd-6d1f7006d91892b3_1.txt' } }
process { withName: 'MULTIQC' { container = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-c17fb751507e9dfc_1.txt' } }
